@model IEnumerable<Ticket>
    
            <h2>Tickets</h2>

            <div style="display:block">
                <a href="/Ticket/InsertTicket/">Create a New Product</a>
            </div>

            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Submitted By</th>
                    <th>Assigned To</th>
                    <th>Status</th>
                    <th>Project</th>
                    <th>Description</th>
                </tr>

                @foreach (var ticket in Model)
                {
                    <tr>
                        <td><a href=/Ticket/ViewTicket/@ticket.TicketID>@ticket.TicketID</a></td>
                        <td>@ticket.SubmittedBy</td>
                        <td>@ticket.AssignedTo</td>
                        <td>@ticket.Status</td>
                        <td>@ticket.Project</td>
                        <td>@ticket.Description</td>
                    </tr>

                }
            </table>
