@model Ticket

<h3>@Model.TicketID Information</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Submitted By</th>
        <th>Assigned To</th>
        <th>Status</th>
        <th>Project</th>
        <th>Description</th>
    </tr>

    
    <tr>
        <td>@Model.TicketID</td>
        <td>@Model.SubmittedByName</td>
        <td>@Model.AssignedToName</td>
        <td>@Model.Status</td>
        <td>@Model.Project</td>
        <td>@Model.Description</td>
    </tr>
    
</table>

<div style="display: block">
    <a href="/Ticket/UpdateTicket/@Model.TicketID">Update this Ticket</a>
</div>
<div style="display: block">
    @using (Html.BeginForm("DeleteTicket", "Ticket", "Post"))
    {
        <input type="hidden" asp-for="TicketID" value="@Model.TicketID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this ticket" />
    }
</div>
<a asp-action="Index">Back</a>
